# Solaflex – Public Config Template
SOLANA_RPC=https://api.mainnet-beta.solana.com

# Your public wallet address (completely safe to share)
MY_WALLET_ADDRESS=CuquJ1YP4KBMReA8joxLqqVaHTCw8t1JEcaNH138BPLF 
from dotenv import load_dotenv
load_dotenv()
